.section {
  padding: 48px 0;
}
.grid {
  margin: 0 -12px;
}
.grid-item {
  font-size: 0;
  padding: 12px;
  width: 33.33%;
}
@media screen and (max-width: 768px) {
  .section {
    padding: 24px 0;
  }
}
@media screen and (max-width: 480px) {
  .grid-item {
    width: 50%;
  }
}
.content-description {
  font-size: 20px;
  color: #000;
}
.filter-options li {
  display: inline-block;
  padding: 0 20px;
  font-family: open_sansregular;
}
.filter-options li.active {
  font-family: open_sansbold;
}
.filter-options li:last-child {
  padding-left: 40px;
}
.filter-options a {
  color: #000;
}
.hide-filter {
  position: relative;
}
.hide-filter::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 8px;
  left: 0;
  transform: rotate(45deg);
  cursor: pointer;
  margin-left: 4px;
}
.number {
  position: relative;
}
.number::after {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 8px;
  left: 0;
  transform: rotate(45deg);
  cursor: pointer;
  margin-left: 24px;
}
.number::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  top: 8px;
  right: 0;
  transform: rotate(-135deg);
  cursor: pointer;
  margin-right: 6px;
}
.holder-filter {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 24px 0;
}
.holder-option {
  display: flex;
  justify-content: space-between;
  max-width: 750px;
  width: 100%;
}
.breadcrumbs-items li {
  display: inline-block;
  font-family: open_sansregular;
  position: relative;
  padding-right: 7px;
}
.breadcrumbs-items li::before {
  position: absolute;
  content: '';
  width: 1px;
  height: 13px;
  top: 5px;
  right: 0;
  background-color: #000;
  transform: rotate(5deg);
}
.breadcrumbs-items li:last-child {
  font-family: open_sansbold;
}
.breadcrumbs-items li:last-child::before {
  content: none;
}
.breadcrumbs-items a {
  color: #000;
}
.sort {
  padding-right: 17px;
  position: relative;
}
.sort a {
  color: #000;
  font-family: open_sansregular;
}
.sort::before {
  position: absolute;
  content: '';
  width: 9px;
  height: 9px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  cursor: pointer;
  transform: rotate(-45deg);
  right: 0;
  bottom: 10px;
}
